<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_ZBSCmrvRwf5cMLO2iaEhqmtMTWBch7I</string>
	<key>GCM_SENDER_ID</key>
	<string>573934032832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.natureCrypto.natureCoin</string>
	<key>PROJECT_ID</key>
	<string>naturecoin-d5c74</string>
	<key>STORAGE_BUCKET</key>
	<string>naturecoin-d5c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573934032832:ios:a7b99fcf2060c2ab80da25</string>
</dict>
</plist>